.classpath
.project
.settings
.checkstyle
bin
target
.DS_Store
.idea
target-eclipse
*.iml
deploy-test-*.sh
log.txt
*.log
release.properties
pom.xml.releaseBackup
springContext.xml
mv_file.sh
diff.sh
dev/