<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="william.eshop.mapper.item.ItemParamMapper">
    <!--结果集映射-->
    <resultMap id="BaseResultMap" type="william.eshop.model.item.ItemParam">
        <id column="id" property="id"/>
        <result column="item_id" property="itemId"/>
        <result column="produce_place" property="producePlace"/>
        <result column="foot_period" property="footPeriod"/>
        <result column="brand" property="brand"/>
        <result column="factory_name" property="factoryName"/>
        <result column="factory_address" property="factoryAddress"/>
        <result column="packaging_method" property="packagingMethod"/>
        <result column="weight" property="weight"/>
        <result column="storage_method" property="storageMethod"/>
        <result column="eat_method" property="eatMethod"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <sql id="BaseColumn">
        `id`, `item_id`, `produce_place`, `foot_period`, `brand`, `factory_name`, `factory_address`, `packaging_method`, `weight`, `storage_method`, `eat_method`, `created_time`, `updated_time`
    </sql>

    <select id="findByItemId" resultMap="BaseResultMap">
        select
        <!--引用SQL片段-->
        <include refid="BaseColumn"/>
        from items_param
        WHERE item_id = #{itemId}
    </select>

</mapper>