<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="william.eshop.mapper.ItemCommentMapper">
    <!--结果集映射-->
    <resultMap id="BaseResultMap" type="william.eshop.model.ItemComment">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="item_id" property="itemId"/>
        <result column="item_name" property="itemName"/>
        <result column="item_spec_id" property="itemSpecId"/>
        <result column="sepc_name" property="sepcName"/>
        <result column="comment_level" property="commentLevel"/>
        <result column="content" property="content"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <sql id="BaseColumn">
        id, user_id, item_id, item_name, item_spec_id, sepc_name, comment_level, content, created_time, updated_time
    </sql>

    <select id="listByItemId" resultMap="BaseResultMap">
        select
        <!--引用SQL片段-->
        <include refid="BaseColumn"/>
        from items_comments
        where item_id = #{itemId}
    </select>

</mapper>