<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="william.eshop.mapper.ItemSpecMapper">
    <!--结果集映射-->
    <resultMap id="BaseResultMap" type="william.eshop.model.ItemSpec">
        <id column="id" property="id"/>
        <result column="item_id" property="itemId"/>
        <result column="name" property="name"/>
        <result column="stock" property="stock"/>
        <result column="discounts" property="discounts"/>
        <result column="price_discount" property="priceDiscount"/>
        <result column="price_normal" property="priceNormal"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <sql id="BaseColumn">
        id, item_id, `name`, stock, discounts, price_discount, price_normal, created_time, updated_time
    </sql>

    <select id="listInIds" resultMap="BaseResultMap">
        select
        <!--引用SQL片段-->
        <include refid="BaseColumn"/>
        from items_spec
        WHERE id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <update id="reduceStock">
        update items_spec
        set stock = stock - #{reduceCount}
        where id = #{id} and stock >= #{reduceCount}
    </update>

</mapper>